n8n-workflows/scheduled-campaigns.json
{
  "name": "Scheduled Daily Campaigns",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "cron-trigger",
      "name": "Cron Trigger - Daily 8 AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://host.docker.internal:3000/campaigns",
        "authentication": "none",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "SCHEDULED"
            }
          ]
        },
        "options": {
          "timeout": 10000
        }
      },
      "id": "fetch-campaigns",
      "name": "Fetch Scheduled Campaigns",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split-campaigns",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "dateTime": [
            {
              "value1": "={{ $json.scheduledAt }}",
              "value2": "={{ $now.toISO() }}",
              "operation": "before"
            }
          ]
        }
      },
      "id": "check-due",
      "name": "Check If Campaign is Due",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://host.docker.internal:3000/campaigns/{{ $json.id }}/start",
        "authentication": "none",
        "options": {
          "timeout": 30000
        }
      },
      "id": "start-campaign",
      "name": "Start Campaign",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "message": "=✅ Campaign {{ $json.id }} ({{ $json.name }}) started successfully at {{ $now.toISO() }}",
        "options": {}
      },
      "id": "log-success",
      "name": "Log Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "message": "=⏭️ Campaign {{ $json.id }} not due yet (scheduled for {{ $json.scheduledAt }})",
        "options": {}
      },
      "id": "log-skip",
      "name": "Log Skipped",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1050, 400]
    }
  ],
  "connections": {
    "Cron Trigger - Daily 8 AM": {
      "main": [
        [
          {
            "node": "Fetch Scheduled Campaigns",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Scheduled Campaigns": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Check If Campaign is Due",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Campaign is Due": {
      "main": [
        [
          {
            "node": "Start Campaign",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Log Skipped",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Campaign": {
      "main": [
        [
          {
            "node": "Log Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Success": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log Skipped": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "1",
  "tags": []
}
